{% extends 'base.html.twig' %}

{% block title %}Accueil Wild Circus{% endblock %}


{% block body %}
<h1 class="text-primary text-center m-5">Bienvenu au wild circus</h1>
    {% include 'home/_actuality.html.twig' %}
    {% include 'home/_reservations.html.twig' %}
    {% include 'home/_show.html.twig' %}
    {% include 'home/_map.html.twig' %}
{% endblock %}
