{% extends 'base.html.twig' %}

{% block title %}Édition performance{% endblock %}

{% block body %}
    <h1 class="text-center text-primary m-5">Edition d'une performance</h1>

    {{ include('admin_performance/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('performance_index') }}" class="btn btn-light m-5">Retour à la liste</a>

{% endblock %}
