{% extends 'base.html.twig' %}

{% block title %}Nouvelle Réservation{% endblock %}

{% block body %}
    <h1 class="text-primary text-center m-5">Nouvelle Réservation</h1>

    {{ include('admin_reservation/_form.html.twig') }}

    <a href="{{ path('reservation_index') }}"class="btn btn-light m-5">Retour à la liste</a>
{% endblock %}
