{% extends 'base.html.twig' %}

{% block title %}Nouvelle Représentation{% endblock %}

{% block body %}
    <h1 class="text-center text-primary m-5">Nouvelle représentation</h1>

    {{ include('admin_representation/_form.html.twig') }}

    <a href="{{ path('representation_index') }}"class="btn btn-light m-5">Retour à la liste</a>
{% endblock %}
