@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Palanquin:wght@300&display=swap');

$title : Merienda;
$text : Palanquin;

$darkgray : #767676;
$dark: rgb(38, 39, 40);
$light : rgb(222, 227, 231);
$primary : rgb(99, 119, 130);
