@import "vars";
@import "homeEventcard";
@import "homeCaroussel";
@import "visitor";
@import "~bootstrap/scss/bootstrap";

body {
    font-family: $text;
}

h1,h2,h3, h4, h5 {
    font-family: $title;
}

.navbar {
    font-size: large;
    font-weight: bold;
}
