.container-artist:nth-child(even) {
  .artist {
    flex-direction: row-reverse;
  }
}

.artist {
  padding-bottom: 100px;
}

.artist-img {
  width: 25%;
  object-fit: cover;
}

.event-img {
  max-width: 800px;
}
