{% extends 'base.html.twig' %}

{% block title %}Édition Artist{% endblock %}

{% block body %}
    <h1 class="text-center text-primary m-5">Éditer un artiste</h1>

    {{ include('artist/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('artist_index') }}">Retour à la liste</a>

{% endblock %}
