{% extends 'base.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
<section class="col-10 offset-1 my-4">
    <h1 class="text-center text-primary m-5">Effectuer une réservation</h1>
    {% form_theme form  'bootstrap_4_layout.html.twig' %}
    <div class="col-10 offset-1">
        {{ form_start(form) }}
        {{ form_widget(form)}}
        <div class="text-center">
            <button class="btn btn-primary m-5">{{ button_label|default('Enregistrer') }}</button>
        </div>
        {{ form_end(form) }}
    </div>
</section>

{% endblock %}
