{% extends 'base.html.twig' %}

{% block title %}Édition F.A.Q.{% endblock %}

{% block body %}
    <h1 class="text-center text-primary m-5">Éditer une F.A.Q.</h1>

    {{ include('admin_faq/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('faq_index') }}" class="btn btn-light m-5">Retour à la liste</a>

{% endblock %}
